body{
    background-color: rgb(197, 72, 72);    
    font-family: arial;
}

#cabecalho{
    padding: 50px;
    color: white;
}

#lista{
    background-color: tomato;
}

#tema{
    display: block;
}

#tema h3,h4{
    padding:0px;
    margin:0px;
}