body{
    font-family: arial;
    background-color: rgb(197, 72, 72);
}

#cabecalho{
    margin: 30px;
    color: white;

}
#menu ul {
    text-align: center; /*Deixa o conteudo no centro*/
    list-style-type: none; /*Tira a bolinha chata da esquerda*/

}
#menu ul li{
    display: inline;  /*Deixa o conteudo na linha*/
    padding: 10px;
    background-color: tomato;
}
#menu ul li a{
    text-decoration: none;
    color: white;
}
#menu ul li:hover{
    background-color:rgb(78, 0, 0)
}

#menu{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

#tema{
    height: 50%;

}
.conteudo {

    width: 25%;
    background-color: black;



}
.conteudo ul{

    list-style-type: none;
    color: white;

}
.conteudo ul li {
    margin-bottom: 20px;
}
.conteudo.esquerda ul{
    padding-left: 15px;
}
.conteudo.direita ul{
    padding: 0;
}
.conteudo.esquerda{
    margin-top: 18px;
    float: left;
    height: 97%;
    border-right: 1px solid black;

    background-color: rgb(197, 72, 72);
}

.conteudo.direita{
    margin-top: 23px;
    float: right;
    position: relative;
    background-color: rgb(197, 72, 72);
}
#rodape {

    left: 0;
    bottom: 0;
    font-size: 10px;
    width: 100%;
    height: 20.6%;
    color: white;
    border-top: 2px solid black;
}
#
#cabecalho2{

    padding: 25px;
    color: white;
}

.conteudo.cima{
    background-color: rgb(197, 72, 72);
    float: right;
    position: relative;



}
